.userCard {
    padding: 1em;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--background);
    width: 300px;
    max-width: 600px;
}

.address {
    width: 90%;
    border: 2px solid var(--border);
    border-radius:  var(--radius);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address p {
    display: flex;  
    flex-direction: column;
}

.userInfo  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: 1s all;
}

.open {
    height: 40vh;
}